<!DOCTYPE html>
<html>
<head>
    <title> Santana Jolly</title>
    
    @*<meta name="viewport" content="width=device-width" />*@
    <title> Santana Jolly</title>
    @*<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />*@
    <style>

        .right {
            position: static;
            float: right;
            width: 300px;
           
        }
    </style>
</head>
<body>
    <img src="/images/garden.jpg" style="width:500px;height:600px;" ><br/>

<div class="right">
    <p>
        
        Example
    </p>

</div>
    

</body>
</html>