
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Santana Jolly</title>
</head>
<body>
<div class="background">
    <div class="transbox">
        <p>An accomplished System Administrator and Military Veteran with a Secret Security Clearance leveraging a background of driving strategy, 
        direction, and oversight for end-to-end organizational development; with a focus on ensuring quality standards, compliance, policy and procedure 
        adherence, operations and IT change management. Managed risks to protect assets, property, and equipment valued up to $1M while leading teams in dynamic, 
        fast - paced environments. 
        Produced high quality project results and possessed an innate talent for quickly mastering technology 
        and new concepts. <br/></p>
        <button style="font-size:50px"; onclick="window.location.href='https://github.com/santanajolly'"> <i class="fa fa-github"></i></button>
        <button style="font-size:50px"; onclick="window.location.href='https://www.linkedin.com/in/santanajolly/'"> <i class="fa fa-linkedin-square"></i></button>

      

    </div>
</div>
</body>



</html>
