<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Santana Jolly</title>
</head>
<body style="width: 100%">
<div class="background"; style="width: 65%">
    <div class="transbox">
        <p style="width:100%"; >
            Certifications:<br/>
        <ul style="list-style-type:disc;">
            <li style="background-color: transparent" >CompTIA Security+  </li>
            <li>MCSE: Productivity</li>
            <li>MCSA: Windows Server 2016</li>
            <li>MCSA: Windows Server 2012</li>
            <li>MTA: Cloud Fundamentals</li>
            <li>ITIL Foundations</li>
        </ul>
		</p>
			

			
			
			
			
            <p>Skills:<br/><br/>
            <div class="row">
                <div class="column">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
              
                <div class="column">
                    <p>C#</p>
                </div>
            </div>
			</div>
              
        </p>

    </div>
</div>
</body>



</html>